/*General Styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    padding: 3rem;
    background-color: #81cec4;
}

.footerQuickLinks {
    padding-bottom: 1rem;
}

.aboutLink {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.aboutUsLink {
    padding-bottom: 1rem;
}

.aboutLink:hover {
    text-decoration: underline solid 2px black;
}

.productLink {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.productLink:hover {
    text-decoration: underline solid 2px black;
}

.productsLink {
    padding-bottom: 1rem;
}

.faqLink {
    font-size: 1rem;
    text-decoration: none;
    color:black;
}

.FaqLink:hover {
    text-decoration: underline solid 2px black;
}

.FaqLink {
    padding-bottom: 1rem;
}

.eMail {
    padding-top: 1rem;
}

/*Social Media Logo Styling*/
.socialLogo {
    padding-top: 1.5em;
}