/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling =============================================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Footer Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
    padding: 3rem;
    background-color: #81cec4;
    font-family: 'Arvo',serif;
}

/*footerQuickLinks Header Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerQuickLinks {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
}

/*footerLink Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerLink {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

/*footerLink on Hover Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerLink:hover {
    text-decoration: underline solid 2px black;
}

 .emailText {
    font-size: 1.5rem;
    padding: 0.5rem;
 }

 .emailTitle {
    padding: 0.5rem;
 }