/*Imports ================================================================================================================================================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Location Styling ================================================================================================*/
.locationDiv {
    display: grid;
    place-content: center;
    padding: 8rem;
    font-family: 'Arvo', serif;
}

.qNAHeader {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1em;
}

.question {
    padding-bottom: 2rem;
    color: #81cec4;
}

.answer {
    font-size: 1.5rem;
    padding-bottom: 2em;
    font-family: 'Avenir Next',sans-serif;
}