/*Imports ================================================================================================================================================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ================================================================================================================================================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*qnaDiv Styling ================================================================================================================================================================================================================================================================================================*/
.qnaDiv {
    display: grid;
    place-content: center;
    padding: 8rem;
    font-family: 'Arvo', serif;
}

/*FAQ Header Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.qNAHeader {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1em;
}

/*FAQ Questions Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.question {
    padding-bottom: 2rem;
    color: #81cec4;
}

/*FAQ Answer Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.answer {
    font-size: 1.5rem;
    padding-bottom: 2em;
    font-family: 'Avenir Next',sans-serif;
}