* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Product Component Styling ========================================================================================================================================================================*/
.ProductComponentContent {
    margin: 1rem;
}

.productComponentHeader {
    font-size: 2rem;
    font-weight: 600;
}

/*Option Four Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionFourOption {
    border: solid 1px black;
    background-color: peachpuff;
}

.optionFourOption:hover {
    background-color: rgba(255, 218, 185, 0.700);
}

/*Option Three Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionThreeOption {
    border: solid 1px black;
    background-color: paleturquoise;
}

.optionThreeOption:hover {
    background-color: rgba(175, 238, 238, 0.700);
}

/*Option Two Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionTwoOption {
    border: solid 1px black;
    background-color: palevioletred;
}

.optionTwoOption:hover {
    background-color: rgba(216, 112, 147, 0.800);
}

/*Option One Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionOneOption {
    border: solid 1px black;
    background-color: palegreen;
}

.optionOneOption:hover {
    background-color: rgba(152, 251, 152, 0.758);
}

/*React Router Link Styling Styling ========================================================================================================================================================================*/
.linkOne {
    text-decoration: none;
    color: black;
}

.productTwoLink {
    text-decoration: none;
    color: black;   
}

.productThree {
    text-decoration: none;
    color: black; 
}

.productFour {
    text-decoration: none;
    color: black;
}