/*Imports =====================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); /*Import Avro Font*/

/*General Styling =====================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* emailFormHeader =====================================================================================================================================================================*/
.emailFormHeader {
    /*Text Properties*/
    font-family: 'Arvo', serif;
    font-size: 3rem;
    /*Center Form*/
    text-align: center;
    padding: 1em;
}

/* emailSubmitForm Styling =====================================================================================================================================================================*/
.emailFormDiv {
    font-family: 'Avenir Next', sans-serif;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.emailForm {
    display: flex;
    place-items: center;
}

@media screen and (max-width:550px) {
    .emailForm {
        display: grid;
    }
}

.nameLabel {
    font-size: 1rem;
    padding: 1em;
}

.emailLabel {
    font-size: 1rem;
    padding: 1em;
}

.msgLabel {
    font-size: 1rem;
    padding: 1em;
}

/* Send Btn Styling =====================================================================================================================================================================*/
.sendBtn {
    font-size: 1rem;
    margin: 1em;
    font-family: 'Avenir Next', sans-serif;
}

/* Contact Info Div Styling =====================================================================================================================================================================*/
.contactInfo { 
    align-content: left;
    text-align: center;
    display: flex;
}

.contactInfoContent {
    padding: 2rem;
}

@media screen and (max-width:550px) {
    .contactInfo {
        display: grid;
    }
    .contactInfoContent {
        padding: 0.5rem;
    }
}

.emailTitle {
    font-size: 2rem;
    font-family: 'Arvo', serif;
}

.emailText {
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.5rem;
}

.phoneInfo {
    padding: 1rem;
}
