/*General Styling ============================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Hours of Operation Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hoHeading {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

/*days Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.daysHeading {
    font-size: 1.5rem;
}

/*hours Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hoursHeading {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*walkin SubHeading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.walkinSubHeading {
    font-size: 1.5rem;
    padding-top: 1rem;
}