/*Imports =================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ============================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Operation Hours Styling ============================================================================================================*/
.operationHours {
    padding: 1rem;
    font-family: 'Avenir Next',sans-serif;

    /* Place In Center of DOM */
    display: grid;
    place-items: center;
    text-align: center;
}

/*Hours of Operation Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hoHeading {
    font-family: 'Arvo',serif;
    font-size: 2rem;
    padding: 0.5em;
}

/*days Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.heading {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/*hours Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hoursHeading {
    font-family: 'Avenir Next' sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

/*walkin Heading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.walkInHeading {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/*walkin SubHeading Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.walkinSubHeading {
    font-size: 1.5rem;
    padding: 1rem;
}

/* Social Media Header Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.socialMediaHeader  {
    font-size: 2rem;
    padding: 0.5em;
}