/*General Styling =====================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Social Media Link Styling =============================================================================================================================================================================================*/
/*Social Media Logo Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.socialHeader {
    padding: 0.5rem;
}

/*Social Media on Hover Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.socialLink:hover {
    opacity: 50%;
}
