/*General Styling ============================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*AboutProduct Styling ============================================================================================================*/
.aboutProduct {
    display: flex;
    background-color: aquamarine;
    padding: 3rem;
}

.localIngredientsSection {
    padding: 2rem;
}

.veganSection {
    padding: 2rem;
}

.veganTitle {
    font-size: 2rem;
    padding-bottom: 0.75em;
}

.description {
    font-size: 1.5rem;
    padding-top: 1em;
}

.flavorSection {
    padding: 2rem;
}

/*Testimonail Styling ============================================================================================================*/
.testimonialHeader {
    font-size: 3rem;
    display: grid;
    place-content: center;
    padding: 3rem;
}

.quoteMark {
    font-size: 5rem;
}

.testimonials {
    display: flex;
    justify-content: center;
    text-align: center;
}

.testimonialOne {
    padding: 2rem;
}

.testimonialTwo {
    padding: 2rem;
}

.testimonialThree {
    padding: 2rem;
}

.quote {
    font-size: 1.5rem;
}
.authorQuote {
    padding-top: 1rem;
    font-size: 2rem;
}


/*Operation Hours Styling ============================================================================================================*/
.operationHours {
    padding: 3rem;
    display: grid;
    place-content: center;
}

.locationHeading {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.locationSubHeading {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.hoHeading {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.daysHeading {
    font-size: 1.5rem;
}

.hoursHeading {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.walkinSubHeading {
    font-size: 1.5rem;
    padding-top: 1rem;
}

/*Footer Styling ============================================================================================================*/
footer {
    padding: 3rem;
    background-color: aquamarine;
}

.footerQuickLinks {
    padding-bottom: 1rem;
}

.aboutLink {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.aboutUsLink {
    padding-bottom: 1rem;
}

.aboutLink:hover {
    text-decoration: underline solid 2px black;
}

.productLink {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.productLink:hover {
    text-decoration: underline solid 2px black;
}

.productsLink {
    padding-bottom: 1rem;
}

.faqLink {
    font-size: 1rem;
    text-decoration: none;
    color:black;
}

.FaqLink:hover {
    text-decoration: underline solid 2px black;
}

.FaqLink {
    padding-bottom: 1rem;
}

.eMail {
    padding-top: 1rem;
}