/*Imports =================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ============================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*AboutProduct Styling ============================================================================================================*/

/* aboutProduct Div Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aboutProduct {
    background-color: #81cec4;
    padding: 3rem;
    font-family: 'Arvo',serif;
}
/* localIngredientsSection Div Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.localIngredientsSection {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 2rem;
}

/* aboutProductTitle Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aboutProductTitle {
    font-size: 2rem;
    padding-bottom: 1em;
}

/* aboutProductDescription Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aboutProductDescription {
    font-size: 1.5rem;
    padding-top: 2rem;
}

/*Testinomial Styling ============================================================================================================*/
/* testimonialHeader Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.testimonialHeader {
    font-size: 3rem;
    text-align: center;
    padding: 1em;
    font-family: 'Arvo',serif;
}

/* quotationMark HTML Unicode Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.quoteMark {
    font-size: 5rem;
}

/*testimonials Div Styling  ============================================================================================================*/
.testimonials {
    text-align: center;
    font-family: 'Avenir Next',sans-serif;
}

/*testimonialOne Div Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.testimonial {
    padding: 2rem;
}

/*quote Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.quote {
    font-size: 1.5rem;
}

/*authorQuote Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.authorQuote {
    padding-top: 1rem;
    font-size: 2rem;
}

/*Operation Hours Styling ============================================================================================================*/
.operationHours {
    padding: 3rem;
    font-family: 'Avenir Next',sans-serif;

    /* Place In Center of DOM */
    display: grid;
    place-items: center;
}

