/*General Styling ========================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Logo Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.returnHomeViaLogo {
    padding: 2rem;
}

/*nav Styling ========================================================================================================================================================================*/
nav {
    border-bottom: solid 1px lightgray;
    font-family: 'Avenir Next',sans-serif;
}

.navbarLinks {
    display: flex;
    place-content: center;
}

@media screen and (max-width: 550px) {
    .navbarLinks {
        display: grid;
        place-items: center;
    }
}

/*Links Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Links {
    place-content: center;
    font-size: 2rem;
    color:black;
    text-decoration: none;
    margin: 0.5em;  
}

/*Links on Hover Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Links:hover {
    text-decoration: underline solid 2px;

}
