/*General Styling ========================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*navbarLinks Div Styling ========================================================================================================================================================================*/
.navbarLinks {
    /*Center Links in the Middle*/
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next',sans-serif;
}

/*Links Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Links {
    font-size: 2rem;
    color:black;
    text-decoration: none;
    color: black;
    margin: 0.5em;  
}

/*Links on Hover Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Links:hover {
    text-decoration: underline solid 2px;
}