/*Imports =================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ================================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

/*Our Story Styling ================================================================================================================================================================================*/

/*ourStory Div Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ourStory {

    /*Center ourStory Div*/
    display: grid;
    place-items: center;
    text-align: center;
    margin: 2rem;
    font-family: 'Arvo', serif;
}

/*ourStory Header Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ourStoryHeader {
    font-size: 3rem;
    padding: 2em;
}

/*founderImage Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.founderImage {
    width: auto;
    height: 450px;
}

/*heading Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.heading {
    font-size: 3rem;
    padding: 1em;
    color: #3a3a3a;
}   

/*subHeading Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.subHeading {
    font-size: 1.5rem;
    padding-bottom: 2em;
    font-family: 'Avenir Next', sans-serif;
    color: #414141;
}