/*Imports ====================================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling ====================================================================================================================================================================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Option One Container Styling ====================================================================================================================================================================================*/
.optionOneContainer {
    display: flex;
    place-items:center;
    padding: 3rem;
    font-family: 'Avenir Next',sans-serif;
}

/*Option One Info Styling ====================================================================================================================================================================================*/
.productOneInfo {
    padding: 2rem;
    margin: 1rem;
}

/*product Image Styling ====================================================================================================================================================================================*/
.productImage {
    width: 600px;
    height: 900px;
}

/*productTitle Styling ====================================================================================================================================================================================*/
.optionOneTitle {
    font-family: 'Arvo', serif;
    font-size: 2rem;
    padding-bottom: 0.5em;
}

/*product Price Styling ====================================================================================================================================================================================*/
.optionOnePrice {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

/*optionOneContentListTitle Styling ====================================================================================================================================================================================*/
.optionOneContentListTitle {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/*optionOneWarningTitle Styling ====================================================================================================================================================================================*/
.optionOneWarningTitle {
    font-style: italic;
    font-size: 1rem;
    font-weight: 600;
}

/*optionOneWarning Styling ====================================================================================================================================================================================*/
.optionOneWarning {
    font-style: italic;
    font-size: 1rem;
}

/*veganDefinition Styling ====================================================================================================================================================================================*/
.veganDefinition {
    font-style: italic;
    font-size: 1rem;
}