/*Imports =================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Product Component Header Styling==========================================================================================================================================================================================================================================*/
.productComponentHeader {
    font-size: 2rem;
    font-weight: 600;
}

.productComponentTitle {
    font-size: 3rem;
    text-align: center;
    padding: 1em;
}

/* Option Containers ==========================================================================================================================================================================================================================================*/
.optionContainer {
    display: grid;
    place-content: center;
    padding: 2.5rem;
    font-family: 'Arvo', serif;
}

/*Option One Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionOneOption {
    border: solid 1px black;
    background-color: antiquewhite;
    padding: 4rem;
    width: 510px;
}

@media screen and (max-width:550px) {
    .optionOneOption {
        width: auto;
    }
}

.optionOneOption:hover {
    opacity: 80%;
}

/*React Router Link Styling Styling ========================================================================================================================================================================*/
.productLink {
    text-decoration: none;
    color: black;
}
