/*Imports =================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*General Styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Product Component Header Styling==========================================================================================================================================================================================================================================*/
.productComponentHeader {
    font-size: 2rem;
    font-weight: 600;
}

/* Option Containers ==========================================================================================================================================================================================================================================*/
.optionContainer {
    display: grid;
    place-content: center;
    padding: 2.5rem;
    font-family: 'Arvo', serif;
}

/*Option One Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.optionOneOption {
    width: 60vw;
    height: auto;
    border: solid 1px black;
    background-color: antiquewhite;
    padding: 4rem;
}

.optionOneOption:hover {
    opacity: 80%;
}

/*React Router Link Styling Styling ========================================================================================================================================================================*/
.productLink {
    text-decoration: none;
    color: black;
}
